<% content_for :title do %>Hijacker Dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">

      <div data-id="connections" data-view="Meter" data-title="Live Users" data-min="0" data-max="100"></div>

    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">

      <div data-id="tags" data-view="List" data-unordered="true" data-title="Tags" data-moreinfo="# of times an used"></div>

    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">

      <div data-id="websites" data-view="List" data-unordered="true" data-title="Websites" data-moreinfo="Top Websites - Last 5 minutes"></div>

    </li>
  </ul>

  <center><div style="font-size: 12px">Check out http://www.gethijacked.com</div></center>
</div>